@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  /* Slate 900 */
  --color-accent: #84cc16;
  /* Lime 500 */
  --color-background: #020617;
  /* Slate 950 */
  --color-surface: #0f172a;
  /* Slate 900 */
  --color-foreground: #f8fafc;
  /* Slate 50 */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Force dark mode defaults */
:root {
  color-scheme: dark;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans), sans-serif;
    @apply antialiased;
  }
}